.t1{
    text-align: center;
    font-size: 45px;
}

@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

.p1{
    font-size: 35px;
}
.container{
    display: flex;
    flex-flow: row ;
    justify-content: center;
    align-items: center;
}
#menu li {

    display: inline;
    padding: 15px;
}
#menu li a{
    
    font-size: 15px;
    text-decoration: none;
    color: black;
    
}
#menu li a:hover{
    color :green 
}
.p-30{
    padding: 5%;
}
.br-50{
   border-radius: 10px; 
}
.foto{
    width: 750px;
    height: 750px;
    justify-content: center;
}

.ft2{
    width: 350px;
    height: 100px;
}
.t2{
    text-align: center;
    font-size: 35px;
}
.p2{
    font-size: 25px;
}
body{
    background-color: rgb(182, 175, 175);
}
h1,h2,h3,a, nav p{
    font-family: "Bungee Spice" ,cursive;
    color: black;
    letter-spacing: 3px;
}