/*Estilos da página index.html*/
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
.center{
    text-align: center;
    font-size: 40px;
}
.center1{
    text-align: center;
}
.justify{
    text-align: justify;
    font-size: 28px;
}
.container{
    display: flex;
    flex-flow: nowrap;
    justify-content: center;
    align-items: center;
}
#menu li {
    display: inline;
    padding: 15px;
    font-family: 'Bangers', cursive;
}
#menu li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
#menu li a:hover {
    color: blue;
}
.p-30{
    padding: 30px;
}
.br-50{
    border-radius: 50%;
}
.wh-600{
    width: 35vw;
     aspect-ratio: 3/2;
}
.wh-500{
    width: 30vw;
    aspect-ratio: 1;
}
.tm-social{
    width: 50px;
    height: 50px;
}
.mb-50{
    margin-bottom: 50px;
}
.ml-50{
    margin-left: 50px;
}
body{
    background-color: rgb(153, 187, 217);
}
h1,h2,h3{
    font-family: 'Bangers', cursive;
}



/*Estilos da página index.html*/